<form class="modal-content" id="edit-task-form" [formGroup]="editForm" (ngSubmit)="editSubmit()">
  <div class="modal-header">
    <h4 class="modal-title">Aufgabe bearbeiten: </h4>
    <button type="button" class="close" aria-label="Close" (click)="this.activeModal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="nameInput">Name der Aufgabe</label>
      <input formControlName="name" type="text" class="form-control" id="nameInput"
             aria-describedby="name" placeholder="Name der Aufgabe">
    </div>
    <div class="form-group">
      <label for="descriptionInput">Beschreibung</label>
      <input formControlName="description" type="text" class="form-control" id="descriptionInput" aria-describedby="description"
             placeholder="Beschreibung">
    </div>
    <div class="form-group">
      <label for="priority">Priorität</label>
      <select name="priority" id="priority" class="custom-select">
        <option selected value="" disabled>Priorität auswählen</option>
        <option value="Niedrig">Niedrig</option>
        <option value="Mittel">Mittel</option>
        <option value="Hoch">Hoch</option>
      </select>
    </div>
    <div class="form-group">
      <label for="category">Kategorie</label>
      <select name="category" id="category" class="custom-select" placeholder="Kategorie wählen">
        <option value="" selected disabled>Kategorie wählen</option>
        <option
          *ngFor="let category of this.taskService.categories"
          value="{{ category.name }}"
        >
          {{ category.name }}
        </option>
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="this.activeModal.dismiss()">Cancel</button>
    <button type="submit" class="btn btn-success">Save changes</button>
  </div>
</form>
