<div class="container mt-4">
  <div class="row">
    <div class="col-3">
      <h4>{{title}}</h4>
    </div>
    <div class="col-9">
      <table class="table">
        <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Aufgabe</th>
          <th scope="col">Beschreibung</th>
          <th scope="col">Priorität</th>
          <th scope="col">Kategorie</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let task of list; let i = index">
          <td>{{i}}</td>
          <td>{{task.name}}</td>
          <td>{{task.description}}</td>
          <td>{{task.priority}}</td>
          <td>{{task.category}}</td>
          <td class="text-right" *ngIf="task.isDone === false; else elseBlock">
            <button class="btn btn-secondary mr-2" (click)="taskService.openEditModal(i)">
              Edit
            </button>
            <button class="btn btn-secondary mr-2" (click)="taskService.delete(i)">
              Delete
            </button>
            <button type="button" class="btn btn-primary" (click)="taskService.done(i)">Done</button>
          </td>
          <ng-template #elseBlock>
            <td class="text-right">
              <!-- <button class="btn btn-secondary mr-2" (click)="taskService.openEditModal(task.id)">
                Edit
              </button> -->
              <button class="btn btn-secondary mr-2" (click)="taskService.delete(i)">
                Delete
              </button>
              <button type="button" class="btn btn-primary" (click)="taskService.undone(i)">Undone</button>
            </td>
          </ng-template>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
