<div class="container mt-4">
  <h3>Aufgabe hinzufügen</h3>
  <form>
    <div class="form-group">
      <label for="nameInput">Name der Aufgabe</label>
      <input
        type="text"
        class="form-control"
        id="nameInput"
        name="name"
        [(ngModel)]="this.name"
        placeholder="Name der Aufgabe"
      />
    </div>
    <div class="form-group">
      <label for="descInput">Beschreibung</label>
      <textarea
        type="text"
        class="form-control"
        id="descInput"
        name="description"
        [(ngModel)]="this.description"
        placeholder="Beschreibung"
      ></textarea>
    </div>
    <div class="form-group">
      <label for="priority">Priorität</label>
      <select
        name="priority"
        id="priority"
        class="custom-select"
        [(ngModel)]="this.priority"
      >
        <option selected value="" disabled>Priorität auswählen</option>
        <option value="Niedrig">Niedrig</option>
        <option value="Mittel">Mittel</option>
        <option value="Hoch">Hoch</option>
      </select>
    </div>
    <div class="form-group">
      <label for="category">Kategorie</label>
      <select name="category" id="category" class="custom-select" [(ngModel)]="this.category" placeholder="Kategorie wählen">
        <option value="" selected disabled>Kategorie wählen</option>
        <option
          *ngFor="let category of this.taskService.categories"
          value="{{ category.name }}"
        >
          {{ category.name }}
        </option>
      </select>
    </div>
    <button type="button" class="btn btn-primary" (click)="handleSubmit()">
      Erstellen
    </button>
  </form>
</div>
